<br><br><br><br><br>

<h1 class="text-center">Thanks <%= @user.name %></h1>
<br>
<h3 class="text-center">You're in the crew now ! </h3><br><br><br>

<div class="text-center">
<%= link_to "Create a new gossip now !", new_gossip_path, class: "btn btn-primary btn", role: "button" %>
<%= link_to "See all gossips here", gossips_path, class: "btn btn-warning btn", role: "button" %>
</div>

<br><br>


